
{% load static %}

<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
       
        <!-- title of site -->
        <title>BrainsTech | {{product.machineName}}</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">

        <!--flaticon.css-->
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" type="text/css" media="all" />
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <section class="bg-black py-20 ">
            <nav class="flex justify-between  px-3">
                <div class="text-white ">
                    <a href='/' class="font-medium  text-4xl hover:text-[#4e4ffa] hover:transition ease-in-out duration-300 transform hover:scale-110"> BRAINSTECH</a>
                </div>
                <div class="">
                    <a class="font-medium  text-2xl text-white hover:text-[#4e4ffa] mr-2 md:mr-4  hover:transition ease-in-out duration-300 transform hover:scale-110" href="{% url 'index' %}">HOME</a>              
                    <a class="font-medium  text-2xl text-white hover:text-[#4e4ffa]  mr-2 md:mr-4  hover:transition ease-in-out duration-300 transform hover:scale-110" href="#contact">CONTACT US</a>              
                    <a class="font-medium  text-2xl text-white hover:text-[#4e4ffa] mr-2 md:mr-4  hover:transition ease-in-out duration-300 transform hover:scale-110" href="{% url 'index' %}">LOGIN</a>              
                </div>
            </nav>
        </section>
        <section class="my-7 mx-[176px] bg-orange-800 grid grid-cols-3">
            <div class="col-span-2 bg-slate-50 border-4">
                <div class=" flex-col">
                    <div class="w-full h-auto flex justify-center items-center">
                        <img src="{{product.machineImage.url}}">
                    </div>
                    <div class="flex justify-between mx-6">
                        <span>{{product.machineName}}</span>
                        <span>{{product.dt}}</span>
                    </div>
                </div>
                <hr class="border-2">
                second face
            </div>
            <div>
sdfsdfsd
            </div>
        </section>

        {% include 'footer.html' %}
		{% include 'js.html' %}
    </body>
</html>