
{% load static %}

<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>BrainsTech</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <!--linear icon css-->
		<link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">

        <!--flaticon.css-->
		<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			{% include 'navbar.html' %}

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>get your desired laptops, mobile phones and accessories in resonable price</h2>
					<p>
						BrainsTech offers you with quality products, with a best customer service. We cherish our customers and your feedback means alot to us. 
					</p>
					<button class="welcome-btn" onclick="window.location.href='products'">View all products</button>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="model-search-content">
							<div class="row">
							<form method="POST" action="{% url 'index' %}">
								{% csrf_token %}
									<div class="col-md-offset-1 col-md-2 col-sm-12">
										<div class="single-model-search">
											<h2>Search by Category</h2>
											<div class="model-select-icon">
												<select class="form-control" name="category">
													<option value="category">Categories</option><!-- /.option-->
													{% for category in categorys %}
													<option value="{{category}}">{{category}}</option><!-- /.option-->
													{% endfor %}
												</select><!-- /.select-->
											</div><!-- /.model-select-icon -->
										</div>
									</div>
									<div class="col-md-offset-1 col-md-2 col-sm-12">
										<div class="single-model-search">
											<h2>Search by Brand</h2>
											<div class="model-select-icon">
												<select class="form-control" name="brand">
													<option value="brands">Brands</option><!-- /.option-->
													{% for brand in brands %}
													<option value="{{brand}}">{{brand}}</option><!-- /.option-->
													{% endfor %}
												</select><!-- /.select-->
											</div><!-- /.model-select-icon -->
										</div>
									</div>
									<div class="col-md-offset-1 col-md-2 col-sm-12">
										<div class="single-model-search">
											<h2>Search by Price</h2>
											<div class="model-select-icon">
												<select class="form-control" name="price">
													<option value="price">Price</option><!-- /.option-->
													{% for machine in machines %}
													<option value="{{machine.machinePrice}}">${{machine.machinePrice}}</option><!-- /.option-->
													{% endfor %}
												</select><!-- /.select-->
											</div><!-- /.model-select-icon -->
										</div>
									</div>
									<div class="col-md-1 col-sm-6">
										<div class="single-model-search text-center">
											<button type="submit" class="welcome-btn model-search-btn">
												search
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		
		

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--service start -->
		
		<section  class="service">
			{% if results %}
			<div class="section-header">
				<h2>Search Results</h2>
			</div>
				<!-- Search result -->
			<div class="container">
				<div class="featured-cars-content">
					<div class="container px-4 px-lg-5 mt-5">
						<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
							{% for result in results %}
							{% if machine.is_sale %}

								<div class="col-lg-3 col-md-4 col-sm-6">
									<div class="single-featured-cars">
										<div class="featured-img-box">
											<!-- Sale badge-->
										<a class="badge text-white position-absolute" style="background-color: #4e4efa65; padding-left: 6px; padding-right: 6px;" href="#">Sold</a>
											<div class="featured-cars-img">
												<img src="{{machine.machineImage.url}}" alt="cars">
											</div>
											{% if user.is_authenticated %}
											<div class="featured-model-info">
												<p>
													<strong> Category:</strong> {{machine.machineCategory}}
													<strong> Brand:</strong> {{machine.machineBrand}}<br>
													<!-- Sale badge-->
													<a class="badge text-white" style="background-color: rgb(14, 221, 14); padding-left: 6px; padding-right: 6px;" href="update_task/{{machine.id}}/{{machine.machineName}}">Update</a> 
													<a class="badge bg-red text-white" style="background-color: rgb(221, 14, 14); padding-left: 6px; padding-right: 6px;" href="delete_task/{{result.id}}/{{result.machineName}}">Delete</a> 
												</p>
											</div>
											{% else %}
											<div class="featured-model-info">
												<p>
													<h2><a href="#">{{machine.machineName}}</a></h2>
												</p>
											</div>
											{% endif %}
										</div>
										<div class="featured-cars-txt">
											<strike><h3>${{machine.machinePrice}}</h3></strike>
											<p>
												{{machine.machineDescription|truncatewords:4}}  
											</p>
										</div>
									</div>
								</div>
							{% else %}
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="single-featured-cars">
									<div class="featured-img-box">
										<!-- Sale badge-->
									<a class="badge text-white position-absolute" style="background-color: #4e4ffa; padding-left: 6px; padding-right: 6px;" href="product_details/{{result.id}}/{{result.machineName}}">Checkout</a>
										<div class="featured-cars-img">
											<img src="{{result.machineImage.url}}" alt="cars">
										</div>
										{% if user.is_authenticated %}
										<div class="featured-model-info">
											<p>
												<h2><a href="#">{{result.machineName}}</a></h2>
												<!-- Sale badge-->
												<a class="badge text-white" style="background-color: rgb(14, 221, 14);" href="update_task/{{result.id}}/{{result.machineName}}">Update</a> 
												<a class="badge bg-red text-white" style="background-color: rgb(221, 14, 14);" href="delete_task/{{result.id}}/{{result.machineName}}">Delete</a> 
											</p>
										</div>
										{% else %}
										<div class="featured-model-info">
											<p>
												<h2><a href="#">{{result.machineName}}</a></h2>
											</p>
										</div>
										{% endif %}
									</div>
									<div class="featured-cars-txt">
										<h3>${{result.machinePrice}}</h3>
										<p>
											{{machine.machineDescription|truncatewords:4}}  
										</p>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<br><br><br><br>

			<div class="container" id="service">
				<div class="section-header" style="margin-bottom: 12px;">
					<h2>Service</h2>
				</div>
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car"></i>
								</div>
								<h2><a href="#">largest dealership <span> of</span> laptops, mobile phones and accessories</a></h2>
								<p>
									Order all your laptos, mobile phones and accessories from BrainsTech. Our products are always affordable. 
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-repair"></i>
								</div>
								<h2><a href="#">repairs of laptops and mobile phones</a></h2>
								<p>
									BrainsTech offers a wide range of services. We repair both laptops and mobile phones. Our services are always authentic.  
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item">
								<div class="single-service-icon">
									<i class="flaticon-car-1"></i>
								</div>
								<h2><a href="#">insurance support</a></h2>
								<p>
									BrainsTech provide insurance for products purchased from them to customers as part of their services, Terms and conditions applied. Our services are always authentic..  
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->
		
		<!-- <br><br><br><br> -->

		<!--new-cars start -->
		<section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
					<p>checkout <span>our</span> Products</p>
					<h2>All Products</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						{% for product in machines%}
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="{{product.machineImage.url}}" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2>{{product.machineName}}</h2>
											<p>
												{{product.machineDescription}} 
											</p>
											<p class="new-cars-para2">
												<strong>Category:</strong> {{product.machineCategory}} <br>
												<strong>Brand:</strong> {{product.machineBrand}} 
											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
												view details
											</button>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						{% endfor %}
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->
		<!-- clients-say strat -->
		<section id="clients-say"  class="clients-say">
			<div class="container">
				<div class="section-header">
					<h2>what our clients say</h2>
				</div><!--/.section-header-->
				<div class="row">
					<div class="owl-carousel testimonial-carousel">
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{% static 'assets/images/clients/c1.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit. 
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">tomas lili</a></h2>
										<h4>new york</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{% static 'assets/images/clients/c2.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit. 
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">romi rain</a></h2>
										<h4>london</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="{% static 'assets/images/clients/c3.png' %}" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit. 
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">john doe</a></h2>
										<h4>washington</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
					</div><!--/.testimonial-carousel-->
				</div><!--/.row-->
			</div><!--/.container-->

		</section><!--/.clients-say-->	
		<!-- clients-say end -->

		<!--brand strat -->
		<section id="brand"  class="brand">
			<div class="container">
				{% if user.is_authenticated %}
				<!-- Sale badge-->
				<a class="badge text-white position-absolute" style="background-color: #4e4efa; padding-left: 6px; padding-right: 6px;" href="{% url 'addbrandimage' %}">Add Brand Image</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="badge text-white position-absolute" style="background-color: #4e4efa; padding-left: 6px; padding-right: 6px;" href="{% url 'addbrand' %}">Add Brand </a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="badge text-white position-absolute" style="background-color: #4e4efa; padding-left: 6px; padding-right: 6px;" href="{% url 'addcategory' %}">Add Category</a>
				{% endif %}
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						{% for image in images%}
						<div class="item">
							<a href="#">
								<img src="{{image.brandImage.url}}" alt="brand-image" />
							</a>
						</div><!--/.item-->
						{% endfor %}
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->

			</div><!--/.container-->

		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		{% include 'footer.html' %}
		{% include 'js.html' %}
        
    </body>
	
</html>

