{% load static %}
<!-- title of site -->
<title>BrainsTech | Products Upload Page</title>

<!-- For favicon png -->
<link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" media="all" />

<div class="bg-gradient-to-b overflow-y-auto from-[#4e4efa88] via-black to-[#4e4ffa] flex h-screen  px-0"><!-- background controller -->
    <div class="w-full">
        <nav class=" md:mt-7 flex justify-end">
            <div class="flex py-4 pr-4 font-bold text-white">
                <a class="text-white mr-2 md:mr-4  hover:transition ease-in-out duration-300 transform hover:scale-110" href="{% url 'index' %}">Home</a>              
            </div>
        </nav>
        <div class="mx-2 md:mx-10 w-screen flex justify-center ">
            <div class="w-full lg:w-1/2  md:px-30 ">
                <div class=" flex justify-center py-8 ">
                    <h1 class="text-6xl font-bold text-white">New Products</h1>
                </div>
                <div class=" pt-6">
                    <div class="grid grid-cols-1"><!-- input section -->
                        <div class="flex justify-center" style="justify-items: center;">
                            <form class= "md:w-10/12" style="text-align: center;" method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input class="textCustom" type="text" name="machineName" placeholder="Product name" required><br>
                                <input class="textCustom" type="text" name="machinePrice" placeholder="Product price" required><br>
                                <textarea class="mb-4 rounded-3xl px-5 text-white bg-[#ffffff14] border-2 border-transparent hover:border-white hover:border-opacity-30 text-center md:w-1/2 md:h-52 py-1 resize-none h-48" name="machineDescription" placeholder="Product description" required></textarea><br>
                                <input class="mb-4 w-9" type="checkbox" name="machineNegotiatable" value="no" onclick="updatecheckbox()" id="fid" checked><span class="text-white">Product negotiatable</span><br>
                                <div class="bg-transparent w-100 h-100 flex items-center justify-center">
                                    <img class="max-h-full max-w-full" id="preview-image" src="" alt="Image">
                                  </div>
                                  <br>
                                <label class="cursor-pointer hover:opacity-80 inline-flex items-center shadow-md my-2 px-2 py-2 bg-gray-900 text-gray-50 border border-transparent
                                rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none 
                            focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150" for="restaurantImage">
                                
                            Select image
                                    <input id="restaurantImage" class="text-sm cursor-pointer w-36 hidden" type="file" name="machineImage" id="image-input" accept="image/*" onchange="updateImagePreview(event)">
                                </label><br>
                                <!-- <input type="file" style="color: white; margin-bottom: 5px;" name="machineImage" > -->
                                <select class="textCustom" aria-label="Default select example" name="machineCategory">
                                    <option selected value="category">Category</option><!-- /.option-->
                                    {% for category in categorys %}
                                    <option class="text-black" value="{{category}}">{{category}}</option><!-- /.option-->
                                    {% endfor %}
                                  </select><br>
                                  <select class="textCustom" aria-label="Default select example" name="machineBrand">
                                    <option selected value="brand">Brand</option><!-- /.option-->
                                    {% for brand in brands %}
                                    <option class="text-black" value="{{brand}}">{{brand}}</option><!-- /.option-->
                                    {% endfor %}
                                  </select><br>
                                <input class="mb-4 border-2 w-28 md:w-30 py-2 hover:bg-transparent  bg-black text-white rounded-3xl" type="submit" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</div>
<script src="{% static 'assets/js/Update.js' %}"></script>


<!-- <div class="inline-flex items-center">
    <label
      class="relative flex cursor-pointer items-center rounded-full p-3"
      for="ripple-on"
      data-ripple-dark="true"
    >
      <input
        id="ripple-on"
        type="checkbox"
        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-pink-500 checked:bg-pink-500 checked:before:bg-pink-500 hover:before:opacity-10"
      />
      <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-3.5 w-3.5"
          viewBox="0 0 20 20"
          fill="currentColor"
          stroke="currentColor"
          stroke-width="1"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </label>
    <label
      class="mt-px cursor-pointer select-none font-light text-gray-700"
      for="ripple-on"
    >
      Ripple Effect On
    </label>
  </div> -->