{% load static %}
<html>
<head>
    <!-- title of site -->
    <title>BrainsTech | Search Page</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{% static 'assets/logo/favicon.png' %}"/>
    <!--tailwind.css-->
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" type="text/css" media="all" />
</head>
<body>
    <header class="w-full text-[#4e4ffa] bg-black shadow-sm body-font">
        <div class="container flex flex-col items-start p-6 mx-auto md:flex-row">
            <a class="text-white hover:text-[#4e4ffa] flex items-center mb-4 font-medium  text-2xl title-font md:mb-0">
                BRAINSTECH
            </a>
            <nav class="flex items-center justify-center text-base md:ml-auto">
                <a href="/" class="mr-5 font-medium text-white hover:text-[#4e4ffa]">Home</a>
                <a href="{% url 'index' %}" class="mr-5 font-medium text-white hover:text-[#4e4ffa]">Search</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="font-medium text-white hover:text-[#4e4ffa]">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="font-medium text-white hover:text-[#4e4ffa]">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    <div tabindex="0" class="focus:outline-none">
        <!-- Remove py-8 -->
        <div class="mx-auto container py-8">
            <div class="flex flex-wrap items-center ">
              {% for machine in results %}
                <!-- Card 1 -->
                <div tabindex="0" class="focus:outline-none mx-2 w-72 xl:mb-0 mb-8">
                    <div>
                        <img alt="person capturing an image" src="{{machine.machineImage.url}}" tabindex="0" class="focus:outline-none w-full h-44" />
                    </div>
                    <div class="bg-white">
                        {% if user.is_authenticated %}
                        <div class="flex  justify-around px-4 pt-4">
                            
                                <label class="cursor-pointer hover:opacity-80 inline-flex items-center shadow-md my-2 px-2 py-2 text-white bg-green-500 border border-transparent
                                        rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                                        <a tabindex="0"href="update_product/{{machine.id}}/{{machine.machineName}}">Update</a>
                                    </label>
                                    <label class="cursor-pointer hover:opacity-80 inline-flex items-center shadow-md my-2 px-2 py-2 text-white bg-red-600 border border-transparent
                                        rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                                        <a tabindex="0"href="delete_product/{{machine.id}}/{{machine.machineName}}">Delete</a>
                                    </label>
                        </div>
                        {% endif %}
                        <div class="p-4">
                            <div class="flex items-center">
                                <h2 tabindex="0" class="focus:outline-none text-lg font-semibold">{{machine.machineName}}</h2>
                                <p tabindex="0" class="focus:outline-none text-xs text-gray-600 pl-5"></p>
                            </div>
                            <p tabindex="0" class="focus:outline-none text-xs text-gray-600 mt-2">{{machine.machineDescription|truncatewords:15}}</p>
                            <div class="flex mt-4">
                                <div class="w-full items-center">
                                    <label class="cursor-pointer hover:opacity-80 inline-flex items-center shadow-md my-2 px-2 py-2 text-white bg-[#4e4ffa] border border-transparent
                                        rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                                        <a tabindex="0"href="product_details/{{machine.id}}/{{machine.machineName}}">Checkout</a>
                                    </label> 
                                </div>
                            </div>
                            <div class="flex items-center justify-between py-4">
                                <h2 tabindex="0" class="focus:outline-none text-indigo-700 text-xs font-semibold">{{machine.dt}}</h2>
                                <h1 tabindex="0" class="focus:outline-none text-indigo-700 text-xs font-semibold">{{machine.machineCategory}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card 1 Ends -->
                {% endfor %}
            </div>
        </div>
        <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    </div>
  
 <script src="chrome-extension://kgejglhpjiefppelpmljglcjbhoiplfn/shadydom.js"></script>
<script>
    if (!window.ShadyDOM) window.ShadyDOM = { force: true, noPatch: true };
</script>

    {% include 'footertailwind.html' %}
    {% include 'js.html' %}
</body>
</html>